.contacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 1383px) {
  .contacts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1047px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 728px) {
  .contacts {
    grid-template-columns: 1fr;
  }
}
